{% extends 'admin/base_site.html' %}
{% load i18n %}


{% block breadcrumbs %}

<div class="breadcrumbs">
  <a href="/admin/">
    {% trans "Home" %}</a> > <a href="/admin/vendimia/">Vendimia</a> >
    <a href="/admin/vendimia/vendimia/">Vendimias</a> > 
    <a href="/admin/vendimia/vendimia/{{ vendimia.id }}/">{{ vendimia }}</a>
    > Pedido de {{ user }} </div>

{% endblock %}


{% block content %}


<form method="POST">
{% csrf_token %}
<table>
  <thead>
    <th>Cantidad</th>
    <th>Unidad</th>
    <th>Producto</th>
    <th>Precio de Venta</th>
    <th>Subtotal</th>
{% for p in pedidos %}
<tr>
  <td><input id="cantidad_{{ p.id }}" name="cantidad_{{ p.id }}" value="{{ p.cantidad }}" size="4"></td>
  <td> {{ p.oferta.producto.unidad }}</td>
  <td>{{ p.oferta.producto.nombre }}</td>
  <td>
    <input id='precio_{{ p.id }}' name='precio_{{ p.id }}' value="{{ p.oferta.precio}}">
  </td>
  <td></td>
</tr>
{% endfor %}
</table>
<input type="submit" value="pagar">
</form>

{% endblock %}

{% block sidebar %}{% endblock %}
