{% extends 'admin/base_site.html' %}
{% load i18n %}


{% block breadcrumbs %}

<div class="breadcrumbs">
  <a href="/admin/">
    {% trans "Home" %}</a> > <a href="/admin/vendimia/">Vendimia</a> >
    <a href="/admin/vendimia/vendimia/">Vendimias</a> > 
    <a href="/admin/vendimia/vendimia/{{ vendimia.id }}/">{{ vendimia }}</a> > Gran Pedido</div>

{% endblock %}


{% block content %}
<table>
  <thead>
    <tr>
      <th scope="col"  class="column-cantidad">
        Cantidad
      </th>
      <th scope="col"  class="column-producto">
        Producto
      </th>
    </tr>
  </thead>
  <tbody>

    {% for p, cantidad in pedido.items %}
    <tr>
      <td class="nowrap">
        {{ cantidad }} {{ p.unidad}} </td>
      <td class="nowrap">
        {{ p.nombre }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

