{% extends 'admin/base_site.html' %}
{% load i18n %}


{% block breadcrumbs %}

<div class="breadcrumbs">
  <a href="/admin/">
    {% trans "Home" %}</a> > <a href="/admin/vendimia/">Vendimia</a> >
    <a href="/admin/vendimia/vendimia/">Vendimias</a> > 
    <a href="/admin/vendimia/vendimia/{{ vendimia.id }}/">{{ vendimia }}</a> > Ordenes</div>

{% endblock %}


{% block content %}

<ul>
{% for u,pedidos in vendimia.orden_set.all %}
  <li>
    <a href="{{ u.id }}/">{{ u }}</a>
    {{ pedidos|length }} items
  </li>
{% endfor %}
</ul>

{% endblock %}
{% block sidebar %}{% endblock %}

