<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css"
          href="/static/bower_components/w2ui/w2ui-1.4.2.min.css" />
    
    <script type="text/javascript"
            src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript"
            src="/static/bower_components/w2ui/w2ui-1.4.2.min.js"></script>

    <script type="text/javascript"
            src="/static/bower_components/tinymce/tinymce.min.js"></script>
  </head>

  <body>
    {% if username %}
        Logged in as {{ username }}. <br><a href="/">home</a>
    {% else %}
        You are not logged in. <a href="/login">login</a>
    {% endif %}    
    <div id="main" style="width: 100%; height: 700px;"></div>


  </body>

  {% for script in scripts %}
  <script  type="text/javascript" src="{{ script }}"></script>
  {% endfor %}
</html>
